{% extends 'base.html' %}
{% block title %}The Team{% endblock %}
{% block content %}
<style>
    .custom-card {
        background-color: #1e1e1e;
        border: 1px solid #333;
    }

    .text-grey {
        color: #cacaca;
    }

    .rounded-circle {
        width: 150px;
        height: 150px;
    }

    @media (max-width: 768px) {
        .rounded-circle {
            width: 100px;
            height: 100px;
        }

        .col-md-4 {
            flex-basis: 50%;
        }
    }

    .btn {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform-origin: center;
    }

    .btn:hover {
        transform: scale(1.1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="container mt-5">
    <h1 class="text-left">The Team</h1>
    <div class="row">
        {% for barber in barbers %}
        <div class="col-md-4 mb-4">
            <div class="card custom-card">
                <img src="{{ url_for('static', filename='photos/profile_pictures/' + (barber.picture_filename if barber.picture_filename else 'default.jpg')) }}" class="card-img-top rounded-circle responsive-img mt-3 ms-3" alt="{{ barber.name }}">
                <div class="card-body">
                    <h5 class="card-title text-grey">{{ barber.user.name }}</h5>
                    <a href="https://www.instagram.com/{{ barber.instagram_tag }}" target="_blank" class="btn btn-primary btn-sm">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                    <a href="{{ url_for('views.profile', barber_id=barber.barber_id) }}" class="btn btn-secondary btn-sm">View Profile</a>
                    <a href="{{ url_for('book.book_appointment', barber_id=barber.barber_id) }}" class="btn btn-success btn-sm">Book Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}