{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container-xl px-4 mt-4">
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="{{ url_for('dashboard.edit_profile') }}">Edit Profile</a>
        <a class="nav-link" href="{{ url_for('dashboard.edit_availability') }}">Availability</a>
        <a class="nav-link" href="{{ url_for('dashboard.barber_services') }}">Edit Services</a>
        <a class="nav-link" href="{{ url_for('messages.home') }}">Inbox</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="{{ url_for('static', filename='photos/profile_pictures/' + (user.barber_detail.picture_filename if user.barber_detail.picture_filename else 'default.jpg')) }}" alt="{{ user.name }}" class="img-fluid profile-picture rounded-circle w-75">
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">User Information</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name: <strong>{{ user.name }}</strong></li>
                                <li class="list-group-item">E-Mail: <strong>{{ user.email }}</strong></li>
                                <li class="list-group-item">Phone Number: <strong>{{ user.phone_number }}</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="container">
            <h3 class="mt-4 mb-4">Appointments</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date (YYYY-MM-DD)</th>
                            <th>Time</th>
                            <th>Client</th>
                            <th>Service</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.datetime.strftime('%Y-%m-%d') }}</td>
                                <td>{{ appointment.datetime.strftime('%I:%M %p') }}</td>
                                <td>{{ appointment.client.name }}</td> 
                                <td>{{ appointment.service.name }}</td>
                                <td>{{ appointment.client.email }}</td>
                                <td>{{ appointment.client.phone_number}}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('book.delete_appointment', appointment_id=appointment.appointment_id) }}" class="d-inline">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                    <form method="POST" action="{{ url_for('messages.send_message') }}" class="d-inline">
                                        <button type="submit" class="btn btn-primary btn-sm">Message</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}