{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation -->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="{{ url_for('dashboard.edit_profile') }}" target="__blank">Edit Profile</a>
        <a class="nav-link" href="" >Appointments</a>
        <a class="nav-link" href="{{ url_for('dashboard.edit_availability') }}" >Availability</a>
        <a class="nav-link" href="{{ url_for('dashboard.barber_services') }}" >Edit Services</a>
        <a class="nav-link" href="" >Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: <strong>{{ user.name }}</strong></li>
                        <li class="list-group-item">E-Mail: <strong>{{ user.email }}</strong></li>
                        <li class="list-group-item">Phone Number: <strong>{{ user.phone_number }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}