

{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="{{ url_for('dashboard.settings') }}" >Edit Profile</a>
        <a class="nav-link" href="" >Will be messages soon</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: <strong>{{ user.name }}</strong></li>
                        <li class="list-group-item">E-Mail: <strong>{{ user.email }}</strong></li>
                        <li class="list-group-item">Phone Number: <strong>{{ user.phone_number }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="mt-4 mb-4">Appointments</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Barber</th>
                            <th>Service</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment.datetime.strftime('%Y-%m-%d') }}</td>
                                <td>{{ appointment.datetime.strftime('%I:%M %p') }}</td>
                                <td>{{ appointment.barber.user.name }}</td>
                                <td>{{ appointment.service.name }}</td>
                                <td>
                                    <form method="POST" action="{{ url_for('book.delete_appointment', appointment_id=appointment.appointment_id) }}">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}