{% extends "base.html" %}
{% block title %}Availability Form{% endblock %}
{% block content %}
<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Set Your Availability</h1>
        <form method="POST" class="mx-auto mt-5" style="width:600px">
            {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
                <div class="row mb-3">
                    <label for="{{ day.lower() }}Start" class="col-sm-2 col-form-label">{{ day }}:</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="{{ day.lower() }}Start" id="{{ day.lower() }}Start">
                            <option value="">Select start time</option>
                            {% for time in time_slots %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <select class="form-control" name="{{ day.lower() }}End" id="{{ day.lower() }}End">
                            <option value="">Select end time</option>
                            {% for time in time_slots %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit Availability</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}