{% extends "base.html" %}
{% block title %}Headliners Home{% endblock %}

{% block content %}

<style>

/* Style for the appointment text */


    /* Styles for the background video */
    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .video-foreground,
    .video-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .content-container {
        position: relative;
        z-index: 1;
    }

    /* Updated CSS for static logo in top left */
    .logo-container {
        position: absolute;
        top: 40px; /* Position at the top */
        left: -200px; /* Position to the left */
        z-index: 2; /* Ensure it's above other elements */
    }

    .logo-container img {
        max-width: 150px; /* Adjust the maximum width of the logo as needed */
        height: auto;
    }
</style>
 


<!-- Background Video -->

<style>
    /* CSS to set the video container to 16:9 aspect ratio */
    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
        overflow: hidden;
    }

    .video-foreground video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="video-background">
    <div class="video-foreground">
        <video width="100%" height="100%" autoplay loop muted>
            <source src="{{ url_for('static', filename='photos/home_pictures/video1.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<!-- Main Content -->
<div class="content-container">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='photos/home_pictures/headliners_logo.png') }}" alt="Headliners Barber Shop" style="max-width: 400px; display: block; margin: 0 auto; margin-top: 5px;">
    </div>

    <!-- Bootstrap Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <!-- Indicators here -->
        </ol>
        <div class="carousel-inner">
            <!-- Carousel items here -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!-- Previous button -->
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <!-- Next button -->
        </a>
    </div>
</div>

 

{% endblock %}
