{% extends "base.html" %}
{% block title %}Headliners Home{% endblock %}

{% block content %}


<div calss="logo-container">
    <img src="{{ url_for('static', filename='photos/home_pictures/headliners_logo.jpg') }}" alt="Headliners Barber Shop" style="max-width: 400px; display: block; margin: 0 auto; margin-top: 10px;">
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/u-8ipeVyxew?si=VYqj0jV6YMIU9-3D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock %}