{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="profile">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="profile text-center">
                <h1>John Doe</h1>
                <img src="profile.jpg" alt="John Doe" class="img-fluid rounded-circle">
                <p><strong>Email:</strong> john.doe@example.com</p>
                <p><strong>Phone:</strong> (123) 456-7890</p>
                <h2>About Me</h2>
                <p>
                    Cuts is what I give
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}