{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Profile Picture -->
        <div class="col-md-2">
            <img src="{{ url_for('static', filename='photos/profile_pictures/' + barber.barber_detail.picture_filename) }}" alt="{{ barber.name }}" class="img-fluid rounded-circle">
        </div>
            <a href="https://www.instagram.com/{{ barber.barber_detail.instagram_tag }}" target="_blank">
                <i class="fab fa-instagram"></i> Follow on Instagram
            </a>
        <!-- Barber Details and Booking Button -->
        <div class="col-md-10">
            <h2>{{ barber.name }}</h2>
            <p><strong>Phone:</strong> {{ barber.phone_number }}</p>
            <p><strong>Email:</strong> <a href="mailto:{{ barber.email }}">{{ barber.email }}</a></p>
            <a href="{{ url_for('views.book_an_appointment', barber_id=barber.barber_detail.barber_id) }}" class="btn btn-primary">Book Appointment</a>
        </div>
    </div>
</div>
{% endblock %}
