{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<style>
    .profile-container {
        background-color: #1e1e1e;
        color: #cacaca;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(78, 0, 0, 0.2);
    }

    .profile-picture {
        width: 350px; 
        height: 350px;
        object-fit: cover; 
        border-radius: 10px;
        border: 4px solid #fff; 
    }

    .instagram-link {
        text-decoration: none;
        color: #bb3434;
    }

    .instagram-link:hover {
        text-decoration: underline;
    }
</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-container">
                <!-- Profile Picture -->
                <div class="text-center">
                    <img src="{{ url_for('static', filename='photos/profile_pictures/' + barber.barber_detail.picture_filename) }}" alt="{{ barber.name }}" class="img-fluid profile-picture">
                </div>
                <!-- Instagram Link -->
                <div class="text-center mt-3">
                    <a href="https://www.instagram.com/{{ barber.barber_detail.instagram_tag }}" target="_blank" class="instagram-link">
                        <i class="fab fa-instagram"></i> Follow on Instagram
                    </a>
                </div>
                <!-- Barber Details -->
                <div class="mt-4">
                    <h2>{{ barber.name }}</h2>
                    <p><strong>Phone:</strong> {{ barber.phone_number }}</p>
                    <p><strong>Email:</strong> <a href="mailto:{{ barber.email }}">{{ barber.email }}</a></p>
                </div>
                <!-- Booking Button -->
                <div class="text-center mt-4">
                    <a href="{{ url_for('book.book_appointment', barber_id=barber.barber_detail.barber_id) }}" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}